<div class="container">
  <h2>Welcome to <%= current_team.name %> hub</h2>
  <br />
  <table id="stats">
    <tr>
      <th>Wins</th>
      <td><%= current_team.wins %></td>
    </tr>
    <tr>
      <th>Losses</th>
      <td><%= current_team.losses %></td>
    </tr>
    <tr>
      <th>Overtime Losses</th>
      <td><%= current_team.ot_losses %></td>
    </tr>
    <tr>
      <th>Points</th>
      <td><%= current_team.points %></td>
    </tr>
    <tr>
      <th>Division Rank</th>
      <td><%= current_team.division_rank %></td>
    </tr>
    <tr>
      <th>Conference Rank</th>
      <td><%= current_team.conference_rank %></td>
    </tr>
    <tr>
      <th>League Rank</th>
      <td><%= current_team.league_rank %></td>
    </tr>
  </table>
  <br />
  <h3>Roster</h3>
  <br />
  <table id="players">
    <tr>
     <th>Player</th>
    </tr>
    <% current_team.team_roster.each do |player| %>
      <tr>
        <td><%= player_name(player) %></td>
      </tr>
    <% end %>
  </table>
</div>
